#!/bin/bash

NAME="imetrics"
DJANGODIR=$(pwd)
VDIR="${DJANGODIR}/env"
SOCKFILE="${DJANGODIR}/gunicorn.pid"
USER=imetrics
NUM_WORKERS=2
DJANGO_WSGI_MODULE=iMetrics.wsgi

{% for variable_name, value in django_environment.iteritems() %}
export {{ variable_name }}="{{ value }}"
{% endfor %}

source $VDIR/bin/activate
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

exec $VDIR/bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --threads $NUM_WORKERS \
  --user $USER \
  --pid ${NAME}.pid \
  --error-logfile ${NAME}.log
