nav{
	background-color: #5cbad6;
}

.data-graphics{
	width: 100%;
}

.collection-item{
	display: inline-block !important;
}

#chart{
	margin:50px 0px;
}

.btn{
	width: 100%;
	background-color: #5cbad6;
}

#content{
	margin-left: 300px;
}

.card{
	background-color: #2fa6ca !important;
}


@media only screen and (min-width: 0px) and (max-width: 700px){
	#content{
		margin-left: 0px;
	}

	#slide-out{
		display: none;
	}

}


@media only screen and (min-width: 1000px){
	.btn-filters{
		margin:20px 100px;
		margin-left: 20px !important;
		margin-right: 20px !important;
	}	
}

